**/*.db
**/cargo-target
**/target
**/venv
**/.direnv
*.wasm
*.xcodeproj
.DS_Store
.blob_store
.build
.envrc
.flatpak-builder
.idea
.netrc
.pytest_cache
.swiftpm
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.venv
.vscode
.wrangler
/node_modules/
/plugins/bin
/script/node_modules
/snap
DerivedData/
Packages
xcuserdata/
http-cacache

# Don't commit any secrets to the repo.
.env
.env.secret.toml